@import '~@/assets/styles/main/_colors.scss';

.petnick__textbox{
    margin-bottom: 25px;

    label{
        text-align: left;
        font-weight: normal;
        font-size: 0.5rem;
        margin: 0;
        display: block;
    }

    input{
        margin: 0;
        padding: 0;
        border:0;
        border-bottom: 1px solid $purple1;
        background-color: transparent ;
        border-radius: 0;
    }

    &:focus{
        outline-width: 0;
    }
}