@import '~@/assets/styles/main/_colors.scss';

.petnick__button{
    background-color:$purple2;
    border: 0;
    font-size: 1rem;
    color: white;
    border-radius: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: initial;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        color: white;
    }
}