@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;700&display=swap');
@import 'colors';

html, body {
    font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 12px;
    margin:0;
    color: $black1;
}

.petnick {
    &__textbox, &__passwordbox{
        margin-bottom: 25px;

        label{
            text-align: left;
            font-weight: normal;
            margin: 0;
            display: block;
        }

        input{
            margin: 0;
            padding: 0;
            border:0;
            border-bottom: 1px solid $purple1;
            background-color: transparent ;
            border-radius: 0;
            font-size: 1.3rem;
        }

        &:focus{
            outline-width: 0;
        }
    }
    &__find{
        input{
            margin: 0;
            padding: 0;
            border:0;
            background-color: transparent ;
            border-radius: 0;
            font-size: 1.2rem;
            &::placeholder{
                color: $gray1;
            }
        }
        label{
            text-align: left;
            font-weight: normal;
            margin: 0;
            display: inline-block;
            margin-right: 2px;
            content: url(~@/assets/img/icon_find.svg);
        }
    }
    &__button{
        background-color:$purple2;
        border: 0;
        font-size: 1.2rem;
        color: white;
        border-radius: 50px;
        display: block;
        text-decoration: none;
        text-align: center;
        text-transform: initial;
        padding: 10px;
        font-weight: normal;
        cursor: pointer;
    
        &:hover{
            color: white;
        }
    }
    &__boxes{
        display: flex;
        &__box{
            background-color: $gray2;
            padding: 20px;
            border-radius: 20px;
            &-title{
                font-size: 1.4rem;
                font-weight: normal;
                &-icon-dog{
                    &::before{
                        margin-right: 2px;
                        content: url(~@/assets/img/icon_dog.svg);
                    }
                }
                &-icon-user{
                    &::before{
                        margin-right: 2px;
                        content: url(~@/assets/img/icon_user.svg);
                    }
                }
                &-icon-home{
                    &::before{
                        margin-right: 2px;
                        content: url(~@/assets/img/icon_dash.svg);
                        filter: invert(100%) ;
                    }
                }
                &-icon-scissor{
                    &::before{
                        margin-right: 2px;
                        content: url(~@/assets/img/icon_scissors.svg);
                    }
                }
            }
        }
    }
}

.internal{
    display: flex;
    &__content{
        padding: 0 20px;
        width: 100%;
        &__header{
            display: flex;
            &-title{
                line-height: 120px;
                font-size: 3rem;
                font-weight: normal;
                margin: 0;
            }
            &-find{
                margin-left: auto;
                line-height: 120px;
            }
            &-button{
                align-self: center;
            }    
        }

        &__footer{
            display: flex;
            margin-top: 20px;
            &-delete{
                margin-right: 20px;
            }
        }
    }
}